.containerAll{ 
    background-color: rgb(36,37,60);
    border-radius: 10px;
    width: fit-content;
    border: 3px;
    padding: 20px 90px 200px 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.allWrap { 
    background-color: rgb(36,37,60);
    border-radius: 10px;
    width: fit-content;
    border: 3px;
    padding: 20px 90px 200px 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px

}
h1{ 
    font-size: 25px;
}
label{ 
    color: white;
    font-size: 20px;
    margin-top: 20px;
    
}
.btnIn{ 
    border-radius: 17px;
    background-color: crimson;
    padding: 7px 30px 7px 30px;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

.Lt3{ 
    margin-left: 130px;
}
.SignUpChance{ 
    margin-top: 20px;
}
.ink{ 
    border-width: 1.2px;
    border-radius: 20px;
    background-color: rgb(36,37,60);
    border-color: crimson;
    color: white;
}

.ink:focus{ 
    background-color: rgb(36,37,60);
    color: white;

}

ul{ 
    list-style-type: none;
    margin-top: 17px;
   
}
ul li{ 
    display: inline;
    margin-left: 10px;
   
}

@media only screen and (max-width: 300px) {
    ul li{ 
        display: inline;
        font-size: 10px;
    }
  
   
    
  }